:javascript
  $(document).ready(function(){$('#datatable').DataTable({"pageLength": 100});})

%table#datatable.table.table-striped.table-hover
  %thead.thead-dark
    %tr= header_row(@allrows.first)
  %tbody
    - @allrows[1..-1].each_with_index do |row,idx|
      %tr= line_to_row(row,idx)
